apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: placementdecisions.platform.example.org
spec:
  group: platform.example.org
  names: { kind: PlacementDecision, plural: placementdecisions, singular: placementdecision }
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            additionalProperties: true
          status:
            type: object
            additionalProperties: true
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: replicationclaims.dr.platform.example.org
spec:
  group: dr.platform.example.org
  names: { kind: ReplicationClaim, plural: replicationclaims, singular: replicationclaim }
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              parameters:
                type: object
                additionalProperties: true
              compositionSelector:
                type: object
                properties:
                  matchLabels:
                    type: object
                    additionalProperties:
                      type: string
              writeConnectionSecretToRef:
                type: object
                properties:
                  name:
                    type: string
          status: { type: object }
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: trafficpolicies.traffic.platform.example.org
spec:
  group: traffic.platform.example.org
  names: { kind: TrafficPolicy, plural: trafficpolicies, singular: trafficpolicy }
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            additionalProperties: true
          status:
            type: object
            additionalProperties: true
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: failoverrequests.ops.platform.example.org
spec:
  group: ops.platform.example.org
  names: { kind: FailoverRequest, plural: failoverrequests, singular: failoverrequest }
  scope: Namespaced
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            additionalProperties: true
          status:
            type: object
            additionalProperties: true
